<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bienvenido a ChildBrain</title>
    <style type="text/css">
      canvas{
        border:solid;
      }

    </style>
  </head>
  <body>
    <canvas id="esteeselcanvas"></canvas>
    <script type="text/javascript">
      window.addEventListener('load', init);
      function init(){
        var canvas = document.getElementById('micanvas');
        var ctx = canvas.getContext('2d');
      }
    </script>

  </body>
</html>
