<section class="main">

  <div class="row">

    <div class="card text-white bg-primary m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
      </div>
    </div>

    <div class="card text-white bg-secondary m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"> Secondary card title</h5>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="card text-white bg-success m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
      </div>
    </div>

    <div class="card text-white bg-danger m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Danger card title</h5>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="card text-white bg-warning m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Warning card title</h5>
      </div>
    </div>

    <div class="card text-white bg-info m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Info card title</h5>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="card bg-light m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Light card title</h5>
      </div>
    </div>

    <div class="card text-white bg-dark m-5 py-5" style="max-width: 18rem;">
      <div class="card-body">
        <a href="<%= pages_game_path %>"<h3 class="card-title"> OTROS </h3></a>
      </div>
    </div>

  </div>

</section>
